<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.3/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.3.3/js/dataTables.js"></script>
<link href="https://cdn.datatables.net/columncontrol/1.0.7/css/columnControl.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/columncontrol/1.0.7/js/dataTables.columnControl.min.js"></script>

<script>
    $(document).ready(function () {
    var table = $('#linkTable').DataTable({
        layout: {
            topStart: 'info',
            bottom: null,
            bottomStart: null,
            bottomEnd: null
        },
        ordering: false,
        paging: false,
        columnControl: ['search']
    });
    });
</script>

<html class="dark">
</html>

<style>
  .tag {
    display: inline-block;
    background: rgb(216, 169, 255);
    color: #223;
    border-radius: 4px;
    padding: 2px 6px;
    margin: 2px 4px 2px 0;
    font-size: 0.85em;
  }
</style>

<script>
fetch("https://shadertipscounter.zekkvrc.workers.dev/{{ page.path | split: "/" | last }}")
  .then(response => response.text())
  .then(count => {
    document.getElementById("hit-count").innerText = count;
  });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll("#linkTable tbody tr td div .expandRow");
        const rows = document.querySelectorAll("#linkTable tbody tr");


        buttons.forEach((butt, index) => {
        butt.addEventListener("click", function (e) {
            rows[index].classList.toggle("expanded");
            if(rows[index].classList.contains("expanded")){
                butt.textContent = "▼";
            } else {
                butt.textContent = "➤";
            }
        });
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let allExpanded = true;
        document.getElementById("expandAllButton").addEventListener("click", function() {
            const xab = document.getElementById("expandAllButton");
            const buttons = document.querySelectorAll("#linkTable tbody tr td div .expandRow");
            const rows = document.querySelectorAll("#linkTable tbody tr");
            rows.forEach((row, index) => {
                row.classList.toggle("expanded", allExpanded);
                if(!allExpanded){
                    buttons[index].textContent = "➤";
                    xab.textContent = "➤";
                } else {
                    buttons[index].textContent = "▼";
                    xab.textContent = "▼";
                }
            });
            allExpanded = !allExpanded;
        });
    });
</script>